.topcontainer {
  margin-left: 500px;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.intro {
  background-color: aquamarine;
}
.navbar {
  margin-top: 50px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  background-color: rgb(47, 35, 140);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 30px;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-box-shadow: 2px 9px 19px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 9px 19px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 9px 19px 1px rgba(0, 0, 0, 0.75);
}

.navbar li {
  cursor: pointer;
  margin: 15px;
  position: relative;
}

.icon-container {
  position: relative;
  display: flex;
  align-items: center;
}

.tooltip {
  position: absolute;
  left: -75px; /* distance to the left */
  background-color: rgb(47, 35, 140);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 14px;
  opacity: 0.9;
  z-index: 10;
}
.navbariconss {
  color: white;
}
.navbaricons:hover {
  background-color: #06087d;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
  opacity: 0.1;
}
